@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* Mode clair */
body {
  background-color: #f3f4f6;
  color: #1f2937;
}

/* Mode sombre */
.dark body {
  background-color: #111827;
  color: #f9fafb;
}

.dark .bg-gray-50 {
  background-color: #1f2937;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #2e75b6;
  border-radius: 3px;
}
